# Text formating/formation/concatination

In [17]:

first name = "Waleed"

SyntaxError: invalid syntax (2344492361.py, line 1)

In [3]:
0name = "Waleed"

SyntaxError: invalid syntax (149125550.py, line 1)

In [4]:
student^name = "WAleed"

SyntaxError: cannot assign to operator (4168559608.py, line 1)

In [5]:
age = 22 
print (age)

22

In [7]:
print(Age)

NameError: name 'Age' is not defined

# Rules for Python variables:
 * A variable name must start with a letter or the underscore character
 * A variable name cannot start with a number
 * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 * Variable names are case-sensitive (age, Age and AGE are three different variables)

In [10]:
student_name = "Waleed"
print(student_name)

Waleed

In [11]:
a = len("waleed")# return function
print(a)
print(a)
print(a)

6
6
6

In [13]:
a = print("Waleed")# return function
print(a)
print(a)
print(a)

Waleed
None
None
None

In [15]:
a = print( """
Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri
""")
print(a)
print(a)
print(a)

Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri

None
None
None

# Concatination
 * plus sign (+) 
 * variable_name.format(var1,var2,var3)
 * f'Student name: {var1} '

In [19]:
first_name = "Waleed"
last_name = "Anis"
institute_name = "Saylani Mass IT Training"

Id_card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name 

print(Id_card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis

In [20]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 22

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [1]:
age = 30
print(age ,type(age))

# here first need to convert the int into string because cant call the integer here 
# type casting
age = str(age)
print(age ,type(age))

30 <class 'int'>
30 <class 'str'>

In [2]:
first_name = "Waleed"
last_name = "Khan"
institute_name = "Saylani Mass IT Training"
Age = str(22) # here first need to convert the int into string because cant call the integer here 
Id_card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name + "\nAge: " + Age 

print(Id_card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Khan
Age: 22

In [3]:
first_name = "Waleed"
last_name = "Anis"
institute_name = "Saylani Mass IT Training"
age = 22


card = """Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

#  with variable_name.format(var1,var2,var3)

In [ ]:
institute_name = "Saylani Mass IT Training"
first_name = "Waleed"
last_name = "Anis"
age = 22


Id_card = """Institute Name: {}
Student Full Name: {} {}
Age: {}

""".format(institute_name,first_name,last_name,age)

print(Id_card)

In [12]:
institute_name = "Saylani Mass IT Training"
first_name = "Waleed"
last_name = "Anis"
age = 22


Id_card = """Institute Name: {0}
Student Full Name: {1} {2}
Age: {3}

""".format(institute_name,first_name,last_name,age)

print(Id_card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

# with F

In [13]:
institute_name = "Saylani Mass IT Training"
first_name = "Waleed"
last_name = "Anis"
age = 22


Id_card = f"""Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Age: {age}

"""

print(Id_card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

In [20]:
institute_name = "Saylani Mass IT Training"
first_name = "Waleed"
last_name = "Anis"
age = 22


Id_card = f"""Institute Name: %s
Student Full Name: %s %s
Age: %d

""" %(institute_name,first_name,last_name,age)

print(Id_card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

In [21]:
print (card)

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

In [22]:
for  idx, i in enumerate([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [23]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: waleed anis
age: 22

In [24]:
print(card.casefold())# inline

institute name: saylani mass it training
student full name: waleed anis
age: 22

In [25]:
print(card)
card.count('Waleed')

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

1

In [26]:
print(card)
card.count('waleed')

Institute Name: Saylani Mass IT Training
Student Full Name: Waleed Anis
Age: 22

0

In [27]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [28]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'