# Python Operators
   
 * Operators are used to perform operations on variables and values.

 * In the example below, we use the + operator to add together two values:

 * Python divides the operators in the following groups:
    * Arithmetic operators
    * Assignment operators
    * Comparison operators
    * Logical operators
    * Identity operators
Membership operators
Bitwise operators

In [1]:
#    opd opr opd
print(2    +         2)# 4 addition operation
print(2 + 7)# 9 addition operation

4
9

In [2]:
num1 = 7
num2 = 3

print(num1 + num2) # addtion operation

10

In [3]:
num1 = "1"
num2 = "1"

print(num1 + num2)# concatination

11

In [4]:
num1 = "1" # string
num2 = 2 # intiger

print(f"num1:{type(num1)}  num2: {type(num2)}")
print(num1 + num2)# concatination

num1:<class 'str'>  num2: <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [5]:
num1 = 2 # int
num2 = "3" # str

print(f"num1:{type(num1)}  num2: {type(num2)}")
print(num1 + num2)# concatination

num1:<class 'int'>  num2: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
l1 = ['a','b','c']
l2 = [1,2,3,4]

print(f"l1{type(l1)}  l2{type(l2)}")
print(l1,l2)
print(l1 + l2)# combine two list

l1<class 'list'>  l2<class 'list'>
['a', 'b', 'c'] [1, 2, 3, 4]
['a', 'b', 'c', 1, 2, 3, 4]

# Python Arithmetic Operators

In [26]:
x = """Operator	Name	Example
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y""".expandtabs(25)
print(x)

Operator                 Name                     Example
+                        Addition                 x + y
-                        Subtraction              x - y
*                        Multiplication           x * y
/                        Division                 x / y
%                        Modulus                  x % y
**                       Exponentiation           x ** y
//                       Floor division           x // y

In [27]:
x = 10
y = 2

print(x + y)

12

In [28]:
x = 10
y = 2

print(x - y)

8

In [29]:
x = 10
y = 2

print(x * y)

20

In [32]:
x = 10 # int
y = 2 # int

print(x / y) # float

5.0

In [33]:
x = 11
y = 3

print(x % y)

2

In [35]:
x = 2
y = 2

print(x ** y)
print(2 ** 3)

4
8

In [37]:
print(5 / 2)
print(5 // 2)
print(24 / 13)
print(24 // 13)

2.5
2
1.8461538461538463
1

# Python Assignment Operators
Assignment operators are used to assign values to variables:

In [38]:
a = 5

print(a)
print(a)
print(a)
print(a)

5
5
5
5

In [40]:
a = 5        # 5
print(a)
#   5 + 1
a = a + 1    #6
print(a)
a += 1
print(a)
a += 1
print(a)
a += 2
print (a)

5
6
7
8
10

In [41]:
a = 1     # Assign new value
print(a)
a = 3     # overwrite old value with 3
print(a)
a = 7    # overwrite
print(a)
a = 5   # overwrite

print(a)

1
3
7
5

In [42]:
a = 1     # Assign new value

a = 3     # overwrite old value with 3

a = 7    # overwrite

a = 5   # overwrite

print(a)

5

In [43]:
a =  10
print(a)

a -= 1   # new way
print(a)

a = a -1 #old way

print(a)

10
9
8

In [44]:
a =  10
print(a)

a *= 2   # new way
print(a)

10
20

In [45]:
a =  10
print(a)

a **= 2   # new way
print(a)

10
100

In [46]:
a =  10
print(a)

a /= 2   # new way
print(a)

10
5.0

In [47]:
a =  10
print(a)

a //= 2   # new way
print(a)

10
5

In [48]:
x = 65
x = x & 65

print(x)

65

In [49]:
x = 65
x = x & 66

print(x)

64

# Python Comparison Operators

In [50]:
a = 5
b = 5

print(a == b)

True

In [51]:
a = 5
b = 7

print(a == b)

False

In [52]:
a = 5
b = 8

#     5   8
print(a > b)

False

In [55]:
a = 9
b = 5

print(a <= b)

False

In [56]:
a = 9
b = 9

print(a <= b)

True

In [58]:
a = 5
b = 5
#     5    5
print(a != b) # ! this is not equal sign

False

In [59]:
a = 'Waleed'
b = 'Waleed'

print(a == b)

True

In [61]:
a = 'waleed'
b = 'Waleed'

print(a == b)
# here ans will be false because case is sensitive

False

In [63]:
a = 'Waleed'
b = '7'

print(a > b)
# yeha ans true aye ga q k variable mai value string mai to ye ascii code ki value dekh k btaye ga kon sa variable bara hai

True

In [64]:
chr(65)

'A'

In [65]:
ord('7')

55

In [66]:
chr(55)

'7'

In [67]:
ord('w')

119

In [68]:
ord('W')

87

In [69]:
a = '65'
b = '66'

print(a > b)
print(a == b)
print(a < b)

False
False
True

In [71]:
a = 65
b = '66'

print(a > b)
print(a == b)
print(a < b)
# create error because one value is in int and other one is in str

TypeError: '>' not supported between instances of 'int' and 'str'

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [72]:
#      l    op  l    op  l    op  l
print(True and True and True and True) # True
print(True and True and False and True) #False
print(False and True and True and False) #False
print(False and False and False and True) #False
print(False and False and False and False)# False

True
False
False
False
False

In [73]:
#      l    op  l    op  l    op  l
print(True and True and True and True) # True
print(True and True and False and True) #False
print(False and True and True and False) #False
print(False and False and False and True) #False
print(False and False and False and False)# False

True
False
False
False
False

In [74]:
#      l    op  l    op  l    op  l
print(True or True or True or True) # True
print(True or True or False or True) #True
print(False or True or True or False) #True
print(False or False or False or True) #True
print(False or False or False or False)# False

True
True
True
True
False

In [75]:
not True

False

In [76]:
password = input("enter your password")

print(password=='abc') # False
print(not password=='abc') # True
print(not True)# False
print(not False)# True
print(password)# text

enter your passwordWaleed
False
True
False
True
Waleed

# Shallow copy

In [77]:
a = 5
b = 5
c = 5

print(id(a), id(b), id(c))
print(a)
print(b)
print(c)

2067729312176 2067729312176 2067729312176
5
5
5

In [78]:
a = 5
b = 5

print(id(a), id(b))

2067729312176 2067729312176

In [79]:
a is b # check on memory level

True

# Deep copy

In [80]:
saylani = ["Waleed"]
student = saylani.copy() # deep copy

print(saylani, student)
print(id(saylani), id(student))
print(saylani == student)
print(saylani is student)

['Waleed'] ['Waleed']
2067809269312 2067810068352
True
False

In [81]:
saylani = ["Waleed"]
student = saylani.copy() # deep copy

print(saylani, student)
print(id(saylani), id(student))
print(saylani == student)
print(saylani is not student)

['Waleed'] ['Waleed']
2067809241728 2067808381888
True
True

# Python Membership Operators

In [83]:
message = "pakistan zinda bad we love our country!"

print('zinda' in message)
print('Zinda' in message)
print("wALEED" in message)

True
False
False

In [84]:
names = ['Waleed','Hamza','Junaid',"Yasir"]

print('Hamza' in names)
print("Asif" in names)

True
False

In [88]:
names = ['Waleed','Hamza','Junaid',"Yasir"]
'Waleed' not in names

False

In [87]:
x = 01000001
y = 01000001
x = 01000001

a = 01000001 # new code

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (768391844.py, line 1)